.column {
  float: left;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}
}

body {
  background-color: #FFE882;
}

h1 {
  color: #8C271E;
  text-align: left;
}

p {
  color: #271033;
  font-size: 16px;
}
